.body_specs {
  background-color: #202020;
  height: 100%;

}

header.masthead {
  background-color: #202020;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
}

header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
  font-family: 'Montserrat',"sans-serif";
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  text-align: center;
  animation-name:blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

header.subheading {

  font-family: 'Montserrat',"sans-serif";
  font-size: 24px;
  font-weight: 200;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
}


@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}



/*

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  height: 100%;
}


.masthead-content-h1{
  color: #FFC0CB;
  font-size: 7rem;
  font-family: 'Montserrat',"sans-serif";
  animation:blinkingText 5s infinite;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}
*/

.animation {
  animation-name:blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}

.center_bottom {
  border-style: solid;
  border-width: medium;
	color: #588304;
	font-family: 'Montserrat', "sans-serif";
	font-size: 2vw;
	font-weight: 100;
	letter-spacing: 1px;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
}

@keyframes blinker {
	0%{opacity: 2.0;}
	50%{opacity: 0.0;}
	100%{opacity: 2.0;}

}


.mc_embed_signup {
	background:#202020; 
  color:#FFC0CB;
  position: relative;
	clear:left; 
	font:14px 'Montserrat', "sans-serif";
  width:50%;


}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */




/*@keyframes blinkingText{
   0%{     color: pink;    }
   20%{    color: transparent; }
   20%{    color: transparent; }
   20%{    color:transparent;  }
   100%{   color: blue;    }
}



